################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AboutMeQuiz/.vs/AboutMeQuiz/v15/Server/sqlite3
/.vs/AboutMeQuiz/AboutMeQuiz/bin/Debug/netcoreapp2.0
